<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>The Bookstore</title>
    </head>
    <body>
        <h1>
            Books in stock:
        </h1>
        <br>
        <ul>
            {% for book in books %}
            <li>{{ book }}</li>
            {% endfor %}
        </ul>
        <img src="https://media.istockphoto.com/id/157830748/vector/book-worm.jpg?s=612x612&w=0&k=20&c=ELtylNfXYIrX50JEjiZovBTNMFT3Fzlsydvg4HD8IME=" width="350" height="400">
    </body>
</html>
